* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}

header a {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #cd2222;
}

a:hover {
    text-decoration: underline;
}